<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="gk.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            border: border-box;
        }

        .navbar {
            width: 100%;
            height: 60px;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        /* box 2*/
        .nav-logo {
            height: 50px;
            width: 100px;
        }

        .logo {
            background-image: url("./Amazon-Logo-Black.jpg");
            height: 50px;
            background-size: cover;
            width: 100%;
        }

        .border {
            border: 2px solid transparent;
        }

        .border:hover {
            border: 2px solid white;
        }

        /*box 3*/
        .add-first {
            color: #cccccc;
            font-size: 1 rem;
            margin-left: 15px;
        }

        .add-sec {
            margin-left: 4px;

        }

        .add-icon {
            display: flex;
            align-items: center;
        }

        /* box 4*/
        .nav-search {
            margin-left: 4px;
            display: flex;
            justify-content: space-evenly;
            background-color: orange;
            width: 620px;
            height: 40px;
            border-radius: 2px;
        }

        .search-select {
            background-color: #f3f3f3;
            width: 50px;
            text-align: center;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border: none;
        }

        .nav-search:hover {
            border: 2px solid orange;
        }

        .search-input {
            width: 100%;
            font-size: 1 rem;
            border: none;
        }

        .search-icon {
            display: flex;
            width: 45px;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: #0f1111;
        }

        /* box 5*/
        span {
            font-size: 0.7 rem;
            margin-left: 20px;
        }

        .nav-second {
            font-size: 0.85rem;
            font-weight: 700;
            margin-left: 20px;
        }

        /*box 6 i si used for to increase the size of icon*/
        .nav-cart i {
            font-size: 30px;

        }

        .panel {
            height: 39px;
            background-color: #222f3d;
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-evenly;
        }

        .panel-ops p {
            display: inline;
            margin-left: 10px;
        }

        .panel-ops {
            width: 70%;
            font-size: 0.85rem;
        }

        .panel-deals {
            font-size: 1rem;
            font-weight: 700;
        }

        /*hero section*/
        .hero-section {
            background-image: url(./mobile.jpg);
            height: 500px;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .hero-msg {
            background-color: white;
            text-color: black;
            height: 40px;
            display: flex;
            align-items: center;
            /*for verticaly centred*/
            justify-content: center;
            /*for horizontally centred*/
            font-size: 0.85rem;
            width: 80%;
            margin-bottom: 25px;



        }

        .hero-msg a {
            color: #007185;
        }

        /*shop section*/
        .shop-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #0f6d5b47;
        }

        .box {
            height: 400px;
            width: 23%;
            background-color: white;
            padding: 20px 0px 15px;
            margin-top: 15px;
        }

        .box-img {
            height: 300px;
            background-size: no reapet;
            background-size: cover;
            margin-top: 10px;
            margin-bottom: 10px;

        }

        .box-content {
            margin-left: 10px;
            margin-right: 10px;

        }

        .box-content p {
            color: #007185;
        }

        footer {
            margin-top: 15px;
        }

        .foot-panel1 {
            background-color: #37475a;
            color: white;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.85rem;
        }

        .foot-panel2 {
            background-color: #222f3d;
            color: white;
            height: 300px;
            display: flex;
            justify-content: space-evenly;
        }

        ul {
            margin-top: 10px;
        }

        ul a {
            display: block;
            margin-top: 10px;
            color: #dddddd;
        }

        ul a:hover {
            text-decoration: underline;
        }

        .foot-panel3 {
            background-color: black;
            color: white;
            border-top: 0.5px solid white;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            background-image: url("./black logo.jpg");
            background-size: cover;
            height: 50px;
            width: 100px;
        }

        .foot-panel4 {
            background-color: #0f1111;
            color: white;
            height: 100px;
            text-align: center;
            padding-top: 10px;
            /*display: flex;
    justify-content: center;
    align-items: center;*/
        }

        .pages {
            font-size: 0.7rem;

        }

        .copyright {
            font-size: 0.7rem;
        }
    </style>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo"></div>
            </div>
            <div class="nav-address border">
                <p class="add-first">Deliver to </p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add-sec">India</p>
                </div>
            </div>
            <div class="nav-search">
                <select class="search-select">
                    <option>All</option>
                </select>
                <input placeholder="Search Amazon" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-signin border">
                <p><span> Hello, sign in</span></p>
                <p class="nav-second">Accounts & Lists</p>
            </div>
            <div class="nav-return border">
                <p><span> Returns</span></p>
                <p class="nav-second">& Orders</p>
            </div>
            <div class="nav-cart border">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="panel"></div>


        </div>
        <div class="panel">
            <i class="fa-solid fa-bars">All</i>

            <div class="panel-ops">
                <p>Today's Deals</p>
                <p>Customer Service</p>
                <p>Registry</p>
                <p>Gift Cards</p>
                <p> Sell</p>
            </div>
            <div class="panel-deals">
                Shop deals in Electronics
            </div>
        </div>



    </header>
    <div class="hero-section">
        <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local
                delivery. <a>Click here to go to amazon.in</a></p>
        </div>
    </div>
    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content">
                <h2> Styles for men & women</h2>
                <div class="box-img" style="background-image:url('./smartwatch.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box2 box">
            <div class="box-content">
                <h2> Skin care Products for your smooth skin</h2>
                <div class="box-img" style="background-image:url('./garnier.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content">
                <h2> Appliances for your home</h2>
                <div class="box-img" style="background-image:url('./Appliances.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box4 box">
            <div class="box-content">
                <h2> Accessories</h2>
                <div class="box-img" style="background-image:url('./earbuds.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box5 box">
            <div class="box-content">
                <h2> Health care</h2>
                <div class="box-img" style="background-image:url('./peanut.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box6 box">
            <div class="box-content">
                <h2> Best styles of bata</h2>
                <div class="box-img" style="background-image:url('./bata.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box7 box">
            <div class="box-content">
                <h2> Fashion jewellery</h2>
                <div class="box-img" style="background-image:url('./fashion jewellery.png');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box8 box">
            <div class="box-content">
                <h2> Pharmacy</h2>
                <div class="box-img" style="background-image:url('./pharmacy.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="foot-panel1">
            Back to Top
        </div>
        <div class="foot-panel2">
            <ul>
                <p>Get to Know Us</p>
                <a>Careers</a>
                <a>Blog</a>
                <a>About Amazon</a>
                <a>Investor Relations</a>
                <a>Amazon Devices</a>
                <a>Amazon Science</a>
            </ul>
            <ul>
                <p>Connect with Us</p>
                <a>Facebook</a>
                <a>Twitter</a>
                <a>Instagram</a>
            </ul>
            <ul>
                <p>Make Money with Us</p>
                <a>Sell on Amazon</a>
                <a>Sell under Amazon Accelerator</a>
                <a>Protect and Build Your Brand</a>
                <a>Amazon Global Selling</a>
                <a>Become an Affiliate</a>
                <a>Fulfilment by Amazon</a>
                <a>Advertise Your Products</a>
                <a>Amazon Pay on Merchants</a>

            </ul>
            <ul>
                <p>Let Us Help You</p>
                <a> COVID-19 and Amazon</a>
                <a> Your Account</a>
                <a>Returns Centre</a>
                <a>100% Purchase Protection</a>
                <a>Amazon App Download</a>
                <a>Help</a>
            </ul>
        </div>
        <div class="foot-panel3">
            <div class="logo"></div>
        </div>
        <div class="foot-panel4">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads Privacy Choices</a>
            </div>
            <div class="copyright">
                © 1996-2023, Amazon.com, Inc. or its affiliates
            </div>
        </div>
    </footer>
</body>

</html>